.title{
    text-align: center;
    font-size: 50px;    
    color: white;
    margin-top: -25px;;
}

section{
    color: white;
    background-image: url(https://addons-media.operacdn.com/media/CACHE/images/themes/65/253565/1.0-rev1/images/e1d2d8012d2fe9a9c1f811bc960ff666/6887db89d7ef6014571cae0b7106ff1b.jpg);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 20px;
    width: 100%;
}

input, textarea{
    border: 0;
    background: rgba(255, 255, 255, 0.445);
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
}
#campo {
    padding-bottom: 20px;
    padding: 5px;
}
#campo *{
    display: block;
    margin: auto;
    text-align: center;
}
button{
    border: 2px solid black;
    height: 33px;
    width: 70px;
    background: rgba(255, 255, 255, 0.445);
    margin: auto;
    display: block;
}
textarea{
    width: 500px;
    height: 70px;
    margin: auto;
}
input{
    width: 200px;
}